body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body div {
  margin: 30px auto;
}

nav a {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;
  color: crimson;
}

button {
  margin-right: 20px;
  background-color: blue;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}